.container 
  %p.board_title= @task.title
  .board_detail_actions
    .dropdown_tasks
      = image_tag 'action.png'
      .dropdown_content
        = link_to 'Edit', edit_board_task_path(@board, @task)
        = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete', confirm: 'Can I delete it?' } 
  - if @task.eyecatch.attached?
    .card_image
      = image_tag @task.eyecatch, class: 'task_show_image'
    .view_content
      = @task.content
  %p.comment_title Comment

  .task_comment
    %p
      = link_to '+ Add new comment'