.container
  .dropdown_tasks
    = image_tag 'action.png'
    .dropdown_tasks_content
      = link_to 'Edit', edit_board_task_path(@board, @task)
      = link_to 'Delete', board_task_path(@board, @task), data: { method: 'delete', confirm: 'Can I delete it?' } 
  %p.task_title= @task.title
  - if @task.eyecatch.attached?
    .card_image
      = image_tag @task.eyecatch, class: 'task_show_image'
    .task_back
      .task_details
        = @task.content
  %p.comment_title Comment
  - @comments.each do |comment|
    .comments
      .comment_icon
        = image_tag comment.user.avatar_image, class: 'comment_icon'
      .comment_content
        = comment.content 
  .task_comment
    %p
      = link_to '+ Add new comment', new_board_task_comment_path(@board, @task)