= form_with(model: board, local: true) do |f|
  .field
    = f.label :title, 'Name'
  .field
    = f.text_field :title, class: 'text'
  .field
    = f.label :content, 'Description'
  .field
    = f.text_area :content
  = f.submit 'Submit', class: 'btn-primary'
