.card
  .board_detail_actions
  = link_to board_task_path(@board, task) do
    .card_title
      = task.title
    .card_content
      = task.content
    .task_comments
      = image_tag 'shape.png'
    .task_content
      %p 24
    .card_detail
      = image_tag 'default-avatar2.png'