= link_to board_task_path(@board, task) do
  .card
    - if task.eyecatch.attached?
      .card_image
        = image_tag task.eyecatch, class: 'task_image'
    .card_title
      = task.title
    .card_content
      = task.content
    .task_actions
      = image_tag 'shape.png'
    .task_content
      %p= task.comment_count
    .card_detail
      = image_tag task.user.avatar_image