.container
  %p.header_pageTitle All Boards
  - @boards.each do |board|
    = link_to board_path(board) do
      .card
        .card_title
          = board.title
          .card_content
            = board.content
          .card_detail
            = image_tag 'default-avatar.png'
    .board_detail_actions
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          %a{:href => "#"} Edit
          %a{:href => "#"} Delete
  = link_to new_board_path do
    .float_btn
      %i.fa.fa-plus